.o-container-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7rem;
}

.o-header{
    background-color:#3665f5;
    color: white;
    height: 6rem;
}

.o-container-socialmedia{

    display: flex;
   justify-content: center;
  

}
.o-img{

height: 1rem;
margin-right: 0.5rem;

}