.o-container-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
  
}

.o-header{
    
   
    height: 6rem;
}

.o-container-socialmedia{

    display: flex;
   justify-content: center;
   padding: 25rem;
  

}
.o-img-social{

height: 3rem;
margin-right: 0.5rem;


}
.o-img-picture{

    height: 40rem;
    opacity: 0.1;
}
.o-text-up{
text-align: center;

}

.o-text-tittle{
    color:  #002361;
    text-align: center;
}
