.o-container-sidebar{
    /* border: 1px solid black; */
    height: 3rem;
    background-color: #3F51B5;
    
}
.o-barra-horizontal{
    /* border: 1px solid black;
    height: 3rem; */
}
.wrapper {
    display: block;
}
.o-div-profile{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 2rem;
    left: 0;
    /* top layer */
    z-index: 9999;
    /* border: 0.5px solid gray; */
    padding: 1rem;
}
.o-sidebar-header{
    text-align: center;
    font-size: 1rem;
    
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}

li,a{
    text-decoration: none;
    list-style: none;
   
    color: #66788A;
    padding-bottom: 1rem;

}
.o-ul-list{
    margin-left: 1rem;
   
    color: #66788A;
}
.o-ul-soporte{
    padding-bottom: 3rem;
}
.o-padding-finish{
    padding-bottom: 2rem;
}
.o-padding-ul{
    padding-bottom: 2rem;
}