
.o-container-actividadesL{
    margin-left: 20rem;
}
.o-juego{
    width: 75rem;
    height: 42rem;

}
.o-container-game{

    text-align-last: center;
}
.o-text-game{
    justify-content: center;
    margin-bottom: 2rem;
    color:  #002361;
}

