.o-container-inicio{

    /* margin-left: 10rem; */
}

.o-container-up{

    /* display: flex;
    justify-content: center; */
    
}
.o-text{
    margin-left: 1rem;
    text-align-last: center;
}

.o-tittle{
    color: #002361;
    text-align: center;
}
.o-text-information{
    padding: 0.5rem;
    height: 7rem;
}
.o-container-down{
    display: flex;
    justify-content: center;
}
.o-img{

    height: 15rem;
}
.o-letra{

    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
.o-form-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.o-title-profile-retro{
    display: flex;
    text-align: start;
    color:  #002361;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.o-button-profile{
    width: 10rem;
}
.o-input-imc{
    border: none;
    width: 100%;
    text-align-last: center;
}
.o-text-retro {
    text-align: center;
    color: #002361;
}